<div id="page-wrapper">

    <!-- Header -->
        <header id="header">
            <div>
                <h1 id="logo"><a href="/">Say it   <i class="fas fa-lg fa-microphone"></i></a></h1>
                <nav id="nav">
                    <ul>   
                        <% if(!currentUser){%>
                            <li><a href="/login" class="button primary">Login</a></li>
                        <li><a href="/register" class="button primary">Sign Up</a></li>
                        <% } else {%>
                            <li><a href="/dashboard/<%=currentUser._id%>" class="button primary">Dashboard</a></li>
                            <li><a href="/logout" class="button primary">Logout</a></li>
                            <%}%>   
                    </ul>
                </nav>
            </div>
         
        </header>